.notification, .blog {
    border-style: solid;
    border-radius: 10px;
    background-color: #FFFDE4;
    padding: 15px;
    margin-bottom: 1rem;
}

.positive-notification {
    color: green;
}

.negative-notification {
    color: red;
}

.blog {
    border-color: black;
    margin: 1rem 0.5rem;
}

button {
    color: white;
    background-color: #FE5C00;
}
